.page_content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    flex-wrap: wrap;
}

.page_content .wrapp {
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input_wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
